/* Reset the padding and margin of every element on the page to 0 */

* {
    padding: 0;
    margin: 0;
}


/*  */

/* Use an image as a background for the header */

#header {
    background-image: url('./img/restaurant.jpg');
    height: 420px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

/* nav styles */

/* Mobile nav */
#mobile-nav {
    display: none;
}

#mobile-menu {
    display: none;
}

/* The End */
#nav-bar {
    background-color: rgba(10, 10, 10, 0.3);
    position: fixed;
    z-index: 2000000000;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 680px;
    overflow: hidden;
}

#nav-bar a {
    color: white;
}

#nav-bar a:hover {
    color: #A58755;
}

/* Logo container styles */

#nav-bar #left {
    float: left;
    padding-top: 10px;
    width: 28%;
}

/* Logo styles */

#logo {
    text-decoration: none;
}

#header-img {
    height: 100px;
    width: 200px;
}

/* Links container styles */

#nav-bar #right {
    float: right;
    width: 72%;
}

#nav-bar #right ul {
    margin-top: 60px;
}

#nav-bar #right ul li {
    display: inline-block;
    margin-left: 20px;
}

#nav-bar #right ul li a {
    text-decoration: none;
    font-weight: 800;
    font-family: 'Kalam','Gochi Hand','Indie Flower', cursive;
}

/* Title styles */

#title-holder {
    padding-top: 90px;
    color: white;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#title-holder h1 {
    font-family: 'Russo One';
    font-size: 40px;
    text-decoration-line: underline;
    text-decoration-color: #A58755;
    padding-top: 55px;
    padding-bottom: 30px;
}

#title-holder p {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 700px;
    margin: 0 auto;
}

/* Button styles */

#title-holder #button {
    margin-top: 30px;
    background-color: #A58755;
    color: white;
    width: 140px;
    height: 40px;
    font-size: 15px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
}

#title-holder #button:focus {
    outline: none;
}

/* Discover left */

#discover {
    height: 350px;
    background-color: white;
}

#discover-left {
    float: left;
    width: 50%;
}

#discover-left-inner {
    float: right;
    overflow: hidden;
    width: 350px;
    text-align: left;
}

#discover-left-inner h3 {
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    font-family: 'Russo One';
    font-weight: 300;
}

#discover-left-inner p {
    padding-bottom: 30px;
    color: grey;
    word-break: break-all;
}

/* Avatar styles */

#avatar{
    background-image: url('./img/chef-avatar.jpg');
    height: 70px;
    width: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    float: left;
}

#avatar-text {
    margin-left: 80px;
    padding-top: 10px;
}

#avatar-text h4 {
    font-family: 'Russo One';
    font-weight: 400;
}

#avatar-text p {
    color: #A58755;
    font-family: 'Gochi Hand','Indie Flower', cursive;
}

/* Discover right*/

#discover-right-inner {
    float: left;
    width: 400px;
    height: 350px;
    margin-left: 20px;
    background-image: url('./img/lunch-no-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Second menu styles */

#second-menu {
    background-color: #F8F6F7;
    width: 100%;
    padding: 10px 0 10px 0;
}

#second-menu ul {
    text-align: center;
}

#second-menu ul li {
    display: inline-block;
    margin-left: 30px;
}

#second-menu ul li a {
    text-decoration: none;
    font-weight: 800;
    font-family: 'Kalam','Gochi Hand','Indie Flower', cursive;
    color: black;
}

#second-menu ul li a:hover {
    color: #A58755;
}

/* Favourite section styles */

#favourite {
    height: 400px;
  }
  
.holder {
    position: relative;
    width: 33.33%;
    float: left;
  }

  #holder-left {
    background: url("./img/breakfast.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#holder-center{
    background: url("./img/vegetarian-meal.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#holder-right {
    background: url("./img/meal.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 400px;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .holder:hover .image {
    opacity: 0.3;
  }
  
  .holder:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #A58755;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

  /* Choose dish section styles */

  #menu {
      height: 700px;
  }

  #menu h3 {
    padding-top: 70px;
    padding-bottom: 50px;
    font-family: 'Russo One';
    font-weight: 300;
    font-size: 40px;
    text-align: center;
  }

  #third-menu {
    background-color: white;
    width: 490px;
    height: 30px;
    margin: 0 auto;
    padding: 10px 0 10px 0;
}

#third-menu ul {
    text-align: center;
    border-bottom: 1px lightgray solid;
}

#third-menu ul li {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}

#third-menu ul li a {
    text-decoration: none;
    font-weight: 800;
    font-family: 'Kalam','Gochi Hand','Indie Flower', cursive;
    color: black;
}

#third-menu ul li a:hover {
    color: #A58755;
    border-bottom: 1px red solid;
}

#dish-list {
    width: 70%;
    height: 400px;
    margin: 0 auto;
    padding-top: 60px;
}

#left-side {
    float: left;
    width: 45%;
    height: 400px;
}

#left-side li, #right-side li {
    border: 1px black solid;
    box-shadow: 2px 5px 8px #888888;
    padding: 10px 10px 10px 10px;
    margin: 0 0 10px 0;
    overflow: hidden;
}

#left-side li img, #right-side li img {
    width: 50px;
    height: 50px;
    float: left;
    padding-right: 10px;
}

#left-side h5, #right-side h5 {
    color: red;
    font-family: 'Russo One';
    font-weight: 100;
}

.price {
    float: right;
    color: red;
}

#left-side, #right-side {
    list-style-type: none;
}

#right-side {
    float: right;
    width: 45%;
    height: 400px;
}

/* Video section styles */

#video-container {
    background: url("./img/black-texture.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 65px;
    height: 500px;
    text-align: center;
}

#video-container p {
    color: white;
}

#video-container span {
    color: #A58755;
    font-weight: 800;
}

/* Reservation section styles */

#reservation {
    background: url("./img/res-meal.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

#reservation-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 500px;
}

#reservation-overlay h3 {
    color: white;
    text-align: center;
    font-family: 'Russo One';
    font-weight: 500;
    font-size: 40px;
    padding-top: 130px;
    padding-bottom: 100px;
}

#reservation-input {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#reservation-input input {
    height: 30px;
    width: 130px;
}

#reservation-button {
    background-color: red;
    color: white;
    border: 0;
    height: 34px !important;
    cursor: pointer;
}

#reservation-button:focus {
    outline: none;
}

/* Meet our chefs section styles */

#meet-our-chefs {
    height: 650px;
}

#meet-our-chefs h3 {
    text-align: center;
    padding-top: 90px;
    font-size: 30px;
    font-family: 'Russo One';
    font-weight: 500;
}

#chef-holder {
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.chef-profile {
    width: 25%;
    height: 350px;
    margin: 10px;
    border: 1px grey solid;
}


.chef-img {
    width: 100%;
    height: 225px;
    border-bottom: 1px red dashed;
}

#facebook {
    color: #3b5998;
}

#twitter {
    color: #00aced;
}

#instagram {
    color: #cd486b;
}

#youtube {
    color: #ED3833;
}

#chef-holder h5 {
    text-align: center;
    font-size: 20px;
    font-family: 'Russo One';
    font-weight: 400;
    padding-top: 10px;
}

#chef-holder p {
    text-align: center;
    font-family: 'Russo One';
    color: red;
    padding-bottom: 10px;
}

.social-media {
    text-align: center;
}

.social-media i {
   font-size: 25px;
}


/* Subscribe section style */

#subscribe {
    height: 250px;
    background: url("./img/liquor-bottles.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#subscribe h3 {
    color: white;
    font-size: 30px;
    font-family: 'Russo One';
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 50px;
    text-shadow: rgb(29, 28, 28) 10px 10px 10px;
}



#subscribe-holder {
   width: 450px;
   height: 35px;
   margin: 0 auto;
}

#input-holder {
    background-color: white;
    width: 430px;
    height: 25px;
    padding: 10px;
    overflow: hidden;
}

#subscribe-button {
    float: right;
    background-color: #ED3833;
    color: white;
    padding: 10px;
    margin-top: -8px;
    margin-right: -5px;
    font-family: 'Russo One';
    font-weight: 100;
    font-size: 15px;
    cursor: pointer;
    border: none;
}

#subscribe-button:focus {
    outline: none;
}

#subscribe-email {
    border: 0px;
    float: left;
    padding-top: 5px;
    width: 330px;
}

#subscribe-email:focus {
    outline: none;
}

/* Footer section styles */

footer {
    height: 1000px;
    position: relative;
}

#map {
    height: 65%;
    background: url("./img/map.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#copyright {
    background-color: #464646;
    height: 35%;
}

/* Form section styles */

#contact {
    height: 400px;
    width: 700px;
    background-color: white;
    position: absolute;
    top: 450px;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: #1e1e1f 5px 5px 10px;
}

#form-holder {
    background-color: white;
    width: 50%;
    height: 100%;
    float: left;
}

#form {
    padding-top: 60px;
    padding-bottom: 20px;
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
}

#form label {
    font-size: 20px;
    padding-bottom: 20px;
}

#name, #email, #message {
    border: 0px;
    border-bottom: 1px lightgray solid;
    float: left;
    padding-top: 20px;
    width: 100%;
}

#name:focus, #email:focus, #message:focus {
    outline: none;
}

#submit {
    margin-top: 20px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 1px;
    padding: 10px;
}

#submit:hover {
    background-color: #A58755;
    color: white;
}

#submit:focus {
    outline: none;
}

#address {
    background-color: #AC8949;
    width: 50%;
    height: 100%;
    float: right;
}


#address-holder {
    width: 80%;
    height: 250px;
    margin: 0 auto;
    padding-top: 60px;
}

#address-holder h3 {
    color: white;
    padding-bottom: 20px;
    font-family: 'Russo One';
}

#address-holder p {
    padding-bottom: 30px;
    color: white;
}

#address-holder span {
    font-size: 13px;
    padding-left: 10px;
}

#footer-elements {
    height: 100px;
    padding-top: 250px;
    text-align: center;
}

#footer-elements i {
    font-size: 25px;
}

#footer-elements p {
    color: white;
    font-family: 'Russo One';
    font-size: 25px;
}


/* Mobile Media Queries */
@media only screen and (min-width: 360px) {

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    /* Header styles */
    #nav-bar {
        display: none;
    }

    #mobile-nav {
        float: right;
        display: block;
    }

    #mobile-nav i {
        color: white;
        font-size: 50px;
    }

    #mobile-menu {
        display: block;
        background-color:  rgba(29, 28, 27, 0.3);
        width: 300px;
        height: 100%;
        position: relative;
        -webkit-transform: translate(-300px, 0);
        transform: translate(-300px, 0);
        transition: transform 0.3s ease;
    }

    .show {
        -webkit-transform: translate(0, 0) !important;
        transform: translate(0, 0) !important;
    }

    #mobile-menu li {
        list-style: none;
        padding: 10px;
        border-bottom: 1px white solid;
    }

    #mobile-menu li a {
        /* color: #A58755; */
        color: white;
        text-decoration: none;
        
    }

    #title-holder {
        display: block;
        margin-top: -430px;
        width: 100%;
    }

    #title-holder p {
        width: 100%;
        padding: 0;
    }

    /* The end of Header styles */

    /* Discover styles */

    #discover {
        display: flex;
        flex-wrap: wrap;
        height: 550px;
        background-color: white;
        /* border: 1px red solid; */
        overflow: hidden;
        padding-bottom: 80px;
    }

    /* Discover left */
    #discover-left {
        float: none;
        width: 100%;
    }

    #discover-left-inner h3 {
        padding-top: 10px;
        text-align: center;
    }
    
    #discover-left-inner p {
        width: 75%;
        margin: 0 auto;
    }

    /* Avatar styles */

#avatar{
    height: 90px;
    width: 90px;
    margin-left: 10px;
}

#avatar-text {
    margin-right: 20px;
    margin-top: 20px;
    float: right;
}



/* Discover right*/

#discover-right {
    float: none;
    width: 100%;
}

#discover-right-inner {
    float: none;
    width: 100%;
    height: 350px;
    margin: 0 auto;
}

/* The end of Discover right */

/* Second menu styles */

#second-menu {
    height: 220px;
    padding: 30px 0 0 0;
}

#second-menu ul li {
    display: block;
    margin-left: 0px;
}

#second-menu ul li:hover {
    background-color: #A58755;
}

#second-menu ul li a {
    font-size: 20px;
}

/* Favourite section styles */

#favourite {
    height: 900px;
    overflow: hidden;
  }
  
.holder {
    position: relative;
    width: 100%;
  }

  
  .image {
    height: 300px;
  }

  /* Favourite section end */
  

/* Choose dish section styles */

#menu {
    height: 940px;
}

#menu h3 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 2.2em;
}

#third-menu {
  width: 100%;
}

#third-menu ul li {
  margin-left: 10px;
  margin-right: 10px;
}

#dish-list {
  width: 100%;
  height: 900px;
  padding-top: 30px;
}

#left-side {
  width: 100%;
  height: 350px;
}


#right-side {
  width: 100%;
  height: 350px;
  padding-top: 30px;
}

/* Choose your dish end */

/* Video section styles */
#video {
    width: 100%;
}
/* Video section end */

/* Reservation section styles */

#reservation {
    height: 300px;
}

#reservation-overlay {
    height: 300px;
}

#reservation-overlay h3 {
    font-size: 2em;
    padding-top: 30px;
    padding-bottom: 20px;
}

#reservation-input {
    width: 100%;
}

#reservation-input input {
    height: 30px;
    width: 100%;
    margin-top: 10px;
    background-color: white;

}

#reservation-button {
    background-color: red !important;
}

/* Reservation section end */

/* Meet our chefs section styles */

#meet-our-chefs {
    height: 2000px;
}

#meet-our-chefs h3 {
    padding-top: 30px;
    font-size: 25px;
}

#chef-holder {
    display: block;
    flex-wrap: nowrap;
    width: 100% !important;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.chef-profile {
    width: 90%;
    height: 450px;
    margin: 0 auto;
    margin-bottom: 10px;
}


.chef-img {
    width: 100%;
    height: 325px;
    border-bottom: 1px red dashed;
}

/* Meet our chefs end */

/* Subscribe section style */

#subscribe-holder {
   width: 100%;
}

#input-holder {
    width: 90%;
    margin: 0 auto;
}

#subscribe-button {
    margin-top: -25px;
    margin-right: -5px;
}

/* Subscribe section end */


/* Footer section styles */

footer {
    height: 850px;
    position: relative;
    overflow: hidden;
}

#map {
    display: none;
}

#copyright {
    height: 10%;
    margin-top: 765px;
}

/* Form section styles */

#contact {
    width: 100%;
    top: 0px;
    height: 90%;
}

#form-holder {
    width: 100%;
    height: 50%;
    clear: both;
}

#form {
    padding-top: 40px;
    width: 80%;
}

#form label {
    font-size: 30px;
}


#address {
    height: 50%;
    width: 100%;
    clear: both;
}

#footer-elements {
    padding-top: 5px;
}

#footer-elements p {
    font-size: 22px;
}


}

/* Mobile end */


/* Tablet media queries */

@media only screen and (min-width: 768px) {
    /* Header styles */

    #header {
        height: 620px;
    }

    #mobile-nav i {
        color: white;
        font-size: 100px;
    }

    #mobile-menu {
        background-color:  rgb(3, 3, 3);
        width: 500px;
        -webkit-transform: translate(-500px, 0);
        transform: translate(-500px, 0);
    }

    #mobile-menu li {
        list-style: none;
        padding: 10px;
        border-bottom: 1px white solid;
    }

    #mobile-menu li a {
        /* color: #A58755; */
        color: white;
        text-decoration: none;
        font-size: 40px;
        
    }

    #title-holder {
        margin-top: -600px;
    }

    #title-holder h1{
        font-size: 3.5em;
    }

    #title-holder p {
        width: 100%;
        padding: 0;
        font-size: 1.8em;
    }

    #title-holder #button {
        width: 200px;
        height: 80px;
        font-size: 30px;
    }
    
    /* The end of Header styles */

    /* Discover styles */

    #discover {
        height: 1370px;
    }

    /* Discover left */
    #discover-left {
        padding-top: 70px;
        width: 100%;
        margin: 0 auto;
    }

    #discover-left-inner {
        width: 100%;
        height: auto;
    }

    #discover-left-inner h3 {
        font-size: 50px;
    }
    
    #discover-left-inner p {
        font-size: 2.5em;
    }

    /* Avatar styles */

#avatar{
    height: 220px;
    width: 220px;
    border-radius: 120px;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 10px;
}

#avatar-text {
    margin: 0;
    margin-top: 20px;
    text-align: center;
    float: none;
}

#avatar-text h4 {
    font-size: 2.5em;
}

/* Discover right*/

#discover-right {
    float: none;
    width: 100%;
    height: 100%;
}

#discover-right-inner {
    float: none;
    width: 100%;
    height: 550px;
    /* margin: 0 auto; */
    margin-left: 0;


    /* float: left;
    width: 400px;
    height: 350px;
    margin-left: 20px;
    background-image: url('./img/lunch-no-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

/* The end of Discover right */


/* Second menu styles */

#second-menu {
    width: 100%;
    height: 100px;
    padding: 10px 0 10px 0;
}

#second-menu ul {
    margin-top: 30px;
}

#second-menu ul li {
    display: inline-block;
    margin-left: 20px;
}

#second-menu ul li a {
    font-size: 2em;
}

#second-menu ul li a:hover {
    color: black;
}

/* Second menu styles end */

}






/* Tablet end */





/* Desktop media queries */
@media only screen and (min-width: 1224px) {
    /* Reset the padding and margin of every element on the page to 0 */

* {
    padding: 0;
    margin: 0;
}

/* Use an image as a background for the header */

#header {
    background-image: url('./img/restaurant.jpg');
    height: 420px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

/* nav styles */

/* Mobile nav */
#mobile-nav {
    display: none;
}

#mobile-menu {
    display: none;
}

/* The End */
#nav-bar {
    background-color: rgba(10, 10, 10, 0.3);
    position: fixed;
    z-index: 2000000000;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 680px;
    overflow: hidden;
}

#nav-bar a {
    color: white;
}

#nav-bar a:hover {
    color: #A58755;
}

/* Logo container styles */

#nav-bar #left {
    float: left;
    padding-top: 10px;
    width: 28%;
}

/* Logo styles */

#logo {
    text-decoration: none;
}

#header-img {
    height: 100px;
    width: 200px;
}

/* Links container styles */

#nav-bar #right {
    float: right;
    width: 72%;
}

#nav-bar #right ul {
    margin-top: 60px;
}

#nav-bar #right ul li {
    display: inline-block;
    margin-left: 20px;
}

#nav-bar #right ul li a {
    text-decoration: none;
    font-weight: 800;
    font-family: 'Kalam','Gochi Hand','Indie Flower', cursive;
}

/* Title styles */

#title-holder {
    padding-top: 90px;
    color: white;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#title-holder h1 {
    font-family: 'Russo One';
    font-size: 40px;
    text-decoration-line: underline;
    text-decoration-color: #A58755;
    padding-top: 55px;
    padding-bottom: 30px;
}

#title-holder p {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 700px;
    margin: 0 auto;
}

/* Button styles */

#title-holder #button {
    margin-top: 30px;
    background-color: #A58755;
    color: white;
    width: 140px;
    height: 40px;
    font-size: 15px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
}

#title-holder #button:focus {
    outline: none;
}

/* Discover left */

#discover {
    height: 350px;
    background-color: white;
}

#discover-left {
    float: left;
    width: 50%;
}

#discover-left-inner {
    float: right;
    overflow: hidden;
    width: 350px;
    text-align: left;
}

#discover-left-inner h3 {
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    font-family: 'Russo One';
    font-weight: 300;
}

#discover-left-inner p {
    padding-bottom: 30px;
    color: grey;
    word-break: break-all;
}

/* Avatar styles */

#avatar{
    background-image: url('./img/chef-avatar.jpg');
    height: 70px;
    width: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    float: left;
}

#avatar-text {
    margin-left: 80px;
    padding-top: 10px;
}

#avatar-text h4 {
    font-family: 'Russo One';
    font-weight: 400;
}

#avatar-text p {
    color: #A58755;
    font-family: 'Gochi Hand','Indie Flower', cursive;
}

/* Discover right*/

#discover-right-inner {
    float: left;
    width: 400px;
    height: 350px;
    margin-left: 20px;
    background-image: url('./img/lunch-no-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Second menu styles */

#second-menu {
    background-color: #F8F6F7;
    width: 100%;
    padding: 10px 0 10px 0;
}

#second-menu ul {
    text-align: center;
}

#second-menu ul li {
    display: inline-block;
    margin-left: 30px;
}

#second-menu ul li a {
    text-decoration: none;
    font-weight: 800;
    font-family: 'Kalam','Gochi Hand','Indie Flower', cursive;
    color: black;
}

#second-menu ul li a:hover {
    color: #A58755;
}

/* Favourite section styles */

#favourite {
    height: 400px;
  }
  
.holder {
    position: relative;
    width: 33.33%;
    float: left;
  }

  #holder-left {
    background: url("./img/breakfast.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#holder-center{
    background: url("./img/vegetarian-meal.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#holder-right {
    background: url("./img/meal.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 400px;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .holder:hover .image {
    opacity: 0.3;
  }
  
  .holder:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #A58755;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

  /* Choose dish section styles */

  #menu {
      height: 700px;
  }

  #menu h3 {
    padding-top: 70px;
    padding-bottom: 50px;
    font-family: 'Russo One';
    font-weight: 300;
    font-size: 40px;
    text-align: center;
  }

  #third-menu {
    background-color: white;
    width: 490px;
    height: 30px;
    margin: 0 auto;
    padding: 10px 0 10px 0;
}

#third-menu ul {
    text-align: center;
    border-bottom: 1px lightgray solid;
}

#third-menu ul li {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}

#third-menu ul li a {
    text-decoration: none;
    font-weight: 800;
    font-family: 'Kalam','Gochi Hand','Indie Flower', cursive;
    color: black;
}

#third-menu ul li a:hover {
    color: #A58755;
    border-bottom: 1px red solid;
}

#dish-list {
    width: 70%;
    height: 400px;
    margin: 0 auto;
    padding-top: 60px;
}

#left-side {
    float: left;
    width: 45%;
    height: 400px;
}

#left-side li, #right-side li {
    border: 1px black solid;
    box-shadow: 2px 5px 8px #888888;
    padding: 10px 10px 10px 10px;
    margin: 0 0 10px 0;
    overflow: hidden;
}

#left-side li img, #right-side li img {
    width: 50px;
    height: 50px;
    float: left;
    padding-right: 10px;
}

#left-side h5, #right-side h5 {
    color: red;
    font-family: 'Russo One';
    font-weight: 100;
}

.price {
    float: right;
    color: red;
}

#left-side, #right-side {
    list-style-type: none;
}

#right-side {
    float: right;
    width: 45%;
    height: 400px;
}

/* Video section styles */

#video-container {
    background: url("./img/black-texture.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 65px;
    height: 500px;
    text-align: center;
}

#video-container p {
    color: white;
}

#video-container span {
    color: #A58755;
    font-weight: 800;
}

/* Reservation section styles */

#reservation {
    background: url("./img/res-meal.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

#reservation-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 500px;
}

#reservation-overlay h3 {
    color: white;
    text-align: center;
    font-family: 'Russo One';
    font-weight: 500;
    font-size: 40px;
    padding-top: 130px;
    padding-bottom: 100px;
}

#reservation-input {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#reservation-input input {
    height: 30px;
    width: 130px;
}

#reservation-button {
    background-color: red;
    color: white;
    border: 0;
    height: 34px !important;
    cursor: pointer;
}

#reservation-button:focus {
    outline: none;
}

/* Meet our chefs section styles */

#meet-our-chefs {
    height: 650px;
}

#meet-our-chefs h3 {
    text-align: center;
    padding-top: 90px;
    font-size: 30px;
    font-family: 'Russo One';
    font-weight: 500;
}

#chef-holder {
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.chef-profile {
    width: 25%;
    height: 350px;
    margin: 10px;
    border: 1px grey solid;
}


.chef-img {
    width: 100%;
    height: 225px;
    border-bottom: 1px red dashed;
}

#facebook {
    color: #3b5998;
}

#twitter {
    color: #00aced;
}

#instagram {
    color: #cd486b;
}

#youtube {
    color: #ED3833;
}

#chef-holder h5 {
    text-align: center;
    font-size: 20px;
    font-family: 'Russo One';
    font-weight: 400;
    padding-top: 10px;
}

#chef-holder p {
    text-align: center;
    font-family: 'Russo One';
    color: red;
    padding-bottom: 10px;
}

.social-media {
    text-align: center;
}

.social-media i {
   font-size: 25px;
}


/* Subscribe section style */

#subscribe {
    height: 250px;
    background: url("./img/liquor-bottles.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#subscribe h3 {
    color: white;
    font-size: 30px;
    font-family: 'Russo One';
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 50px;
    text-shadow: rgb(29, 28, 28) 10px 10px 10px;
}



#subscribe-holder {
   width: 450px;
   height: 35px;
   margin: 0 auto;
}

#input-holder {
    background-color: white;
    width: 430px;
    height: 25px;
    padding: 10px;
    overflow: hidden;
}

#subscribe-button {
    float: right;
    background-color: #ED3833;
    color: white;
    padding: 10px;
    margin-top: -8px;
    margin-right: -5px;
    font-family: 'Russo One';
    font-weight: 100;
    font-size: 15px;
    cursor: pointer;
    border: none;
}

#subscribe-button:focus {
    outline: none;
}

#subscribe-email {
    border: 0px;
    float: left;
    padding-top: 5px;
    width: 330px;
}

#subscribe-email:focus {
    outline: none;
}

/* Footer section styles */

footer {
    height: 1000px;
    position: relative;
}

#map {
    height: 65%;
    background: url("./img/map.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#copyright {
    background-color: #464646;
    height: 35%;
}

/* Form section styles */

#contact {
    height: 400px;
    width: 700px;
    background-color: white;
    position: absolute;
    top: 450px;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: #1e1e1f 5px 5px 10px;
}

#form-holder {
    background-color: white;
    width: 50%;
    height: 100%;
    float: left;
}

#form {
    padding-top: 60px;
    padding-bottom: 20px;
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
}

#form label {
    font-size: 20px;
    padding-bottom: 20px;
}

#name, #email, #message {
    border: 0px;
    border-bottom: 1px lightgray solid;
    float: left;
    padding-top: 20px;
    width: 100%;
}

#name:focus, #email:focus, #message:focus {
    outline: none;
}

#submit {
    margin-top: 20px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 1px;
    padding: 10px;
}

#submit:hover {
    background-color: #A58755;
    color: white;
}

#submit:focus {
    outline: none;
}

#address {
    background-color: #AC8949;
    width: 50%;
    height: 100%;
    float: right;
}


#address-holder {
    width: 80%;
    height: 250px;
    margin: 0 auto;
    padding-top: 60px;
}

#address-holder h3 {
    color: white;
    padding-bottom: 20px;
    font-family: 'Russo One';
}

#address-holder p {
    padding-bottom: 30px;
    color: white;
}

#address-holder span {
    font-size: 13px;
    padding-left: 10px;
}

#footer-elements {
    height: 100px;
    padding-top: 250px;
    text-align: center;
}

#footer-elements i {
    font-size: 25px;
}

#footer-elements p {
    color: white;
    font-family: 'Russo One';
    font-size: 25px;
}
}