/* Reset the padding and margin of every element on the page to 0 */
* {
    padding: 0;
    margin: 0;
}

/* Use an image as a background for the header */
header {
    background-image: url('./img/restaurant.jpg');
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* nav styles */
nav {
    /* width: 80%; */
    width: 700px;
    height: 15%;
    margin: 0 auto;
    /* border: 1px red solid; */
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
}

nav a {
    color: white;
}

nav a:hover {
    color: #A58755;
}

/* Logo container styles */
nav #left {
    float: left;
    padding-top: 10px;
}

/* Logo styles */
#logo {
    text-decoration: none;
    font-weight: 800;
    font-size: 30px;
    font-family: 'Gochi Hand','Indie Flower', cursive;
}

/* Links container styles */
nav #right {
    float: right;
}

nav #right ul {
    /* display: inline-block; */
    margin-top: 20px;
}

nav #right ul li {
    display: inline-block;
    margin-left: 30px;
}

nav #right ul li a {
    text-decoration: none;
    font-weight: 800;
    /* font-size: 30px; */
    font-family: 'Kalam','Gochi Hand','Indie Flower', cursive;
}

/* Title styles */
#title-holder {
    color: white;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#title-holder h1 {
    font-family: 'Russo One';
    font-size: 40px;
    text-decoration-line: underline;
    text-decoration-color: #A58755;
    padding-top: 55px;
    padding-bottom: 30px;
}

#title-holder p {
    /* border: 1px red solid; */
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 80%;
    margin: 0 auto;
}

/* Button styles */
#title-holder input {
    margin-top: 30px;
    background-color: #A58755;
    color: white;
    width: 140px;
    height: 40px;
    font-size: 15px;
    border: none;
    border-radius: 1px;
}

/* Discover left */
#discover {
    height: 350px;
    /* background-color: rgba(250, 244, 244, 0.849); */
    background-color: white;
    border: 1px red solid;
}

#discover-left {
    float: left;
    width: 50%;
}

#discover-left-inner {
    float: right;
    overflow: hidden;
    width: 350px;
    text-align: left;
}

#discover-left-inner h3 {
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    font-family: 'Russo One';
    font-weight: 300;
}

#discover-left-inner p {
    padding-bottom: 30px;
    color: grey;
    /* line-break: auto; */
    word-break: break-all;
}

/* Avatar styles */
#avatar{
    background-image: url('./img/chef-avatar.jpg');
    height: 70px;
    width: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    float: left;
}

#avatar-text {
    margin-left: 80px;
    padding-top: 10px;
}

#avatar-text h4 {
    font-family: 'Russo One';
    font-weight: 400;
}

#avatar-text p {
    color: #A58755;
    font-family: 'Gochi Hand','Indie Flower', cursive;
}

/* Discover right*/
#discover-right {
    /* height: 100%; */
}

#discover-right-inner {
    float: left;
    width: 400px;
    height: 350px;
    margin-left: 20px;
    background-image: url('./img/lunch-no-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border-radius: 180px; */
}